{% if youtube_url is not empty %}
    {{ attach_library('video_type/videojs-youtube-master') }}
    {{ attach_library('video_type/videojs') }}
    {% if video_title is not empty %}
        <p>{{ video_title  }}</p>
    {% endif %}
    {% if video_description is not empty %}
        <p>{{ video_description  }}</p>
    {% endif %}
    {% if video_length is not empty %}
        <p>{{ video_length  }}</p>
    {% endif %}
    <video id="video-{{ delta }}"
           class="video-js vjs-default-skin vjs-fluid"
           controls
           width="640" height="264"
           data-setup='{
               "techOrder": ["youtube"],

               "sources": [{
                    "type": "video/youtube",
                    "src": "{{ youtube_url }}"
               }]
           }'
           html5='{
                "nativeTextTracks": false
           }'
     >
        {% if caption_file %}
            <track kind="captions" src="{{ caption_file }}" srclang="en" label="English" default />
        {% endif %}
        <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
    </video>
{% endif %}
